*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 300;
  line-height: 1.6; }

.container {
  display: grid;
  grid-template-rows: 8rem 85vh repeat(3, min-content);
  grid-template-columns: repeat(8, 1fr); }

.header {
  font-size: 1.4rem;
  height: 8rem;
  background-color: #fff;
  border-bottom: 1px solid #f4f2f2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  grid-column: 1/-1; }
  .header__heading {
    font-size: 1.6rem;
    margin-left: 3rem;
    color: #30A0E0; }

.search {
  flex: 0 0 40%;
  display: flex;
  align-items: center;
  justify-content: center; }
  .search__input {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: #f4f2f2;
    border: none;
    padding: 0.7rem 2rem;
    border-radius: 100rem;
    width: 90%;
    margin-right: -3.25rem;
    transition: all .2s; }
    .search__input:focus {
      outline: 1px solid #30A0E0;
      width: 100%;
      background-color: #f0eeee; }
    .search__input::-webkit-input-placeholder {
      font-weight: 300;
      color: #ccc; }
  .search__input:active + .search__button {
    background-color: #f0eeee; }
  .search__button {
    border: none;
    background-color: #f4f2f2; }
    .search__button:focus {
      outline: none; }
    .search__button:active {
      transform: translateY(2px); }
  .search__icon {
    height: 2rem;
    width: 2rem;
    fill: #30A0E0; }

.navigation__list {
  list-style: none;
  display: flex;
  align-self: stretch;
  align-items: center; }
  .navigation__list--item {
    padding: 0 3rem;
    cursor: pointer; }

.navigation__link, .navigation__link:link, .navigation__link:visited {
  text-decoration: none;
  color: #30A0E0;
  font-weight: 600;
  font-size: 1.4rem;
  text-transform: uppercase;
  transition: all .2s; }

.navigation__link:hover {
  color: #006BBB; }

.main-header {
  background-image: linear-gradient(rgba(48, 160, 224, 0.5), rgba(48, 160, 224, 0.5)), url(../img/hero.jpg);
  background-size: cover;
  background-position: center;
  grid-row: 2/3;
  grid-column: 1/-1;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr; }
  .main-header__header {
    display: grid;
    grid-template-rows: 1fr min-content minmax(6rem, min-content) 1fr;
    grid-column: 1/span 2;
    padding: 3rem;
    padding-top: 5rem; }
    .main-header__header__logo {
      color: #fff;
      font-size: 1.7rem;
      font-weight: 600;
      text-align: center; }
  .main-header__achievement {
    background-color: #006BBB; }

.gallery {
  background-color: aqua;
  grid-column: 1/-1; }

.services {
  background-color: orange;
  grid-column: 1/-1; }

.footer {
  background-color: green;
  grid-column: 1/-1; }

.heading-1 {
  font-size: 7rem;
  font-weight: 300;
  color: #fff;
  padding: 2rem; }

.heading-2 {
  font-size: 2rem;
  font-weight: 600;
  color: #fff;
  padding: 1rem; }
