body {
  font-family: sans-serif;
  font-size: 16;
  line-height: 1.7;
  color: gray;
}

.heading-primary {
  color: white;
  text-transform: uppercase;
  backface-visibility: hidden; /*Prevent shacking of header after animation*/
  margin-bottom: 6rem;

  &--main {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 1.5rem;
  }
  &--sub {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.7rem;
  }
}
